@media(max-width: 991px) {
    .header {
        padding: 0 35px;
    }
    .promo {
        &__wrapper {
            padding: 0 35px;
        }
    }
    .consultation {
        padding-left: 35px;
    }
    .catalog {
        &__content {
            padding-left: 20px;
            padding-right: 20px;
        }
        &__tabs {
            flex-wrap: wrap;
        }
        &__tab {
            margin-top: 8px;
        }
    }
    .feedback {
        &__wrapper {
            padding-left: 20px;
            padding-right: 20px;
        }
        &__descr {
            width: 420px;
        }
        &__item {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                margin-right: 0;
                margin-bottom: 30px;
            }
        }
    }
}
@media(max-width: 767px) {
    .advantages {
        &__wrapper {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__items {
            &:nth-child(2) {
                margin-top: 30px;
            }
            &:nth-child(3) {
                margin-top: 30px;
            }
        }
    }
    .carousel {
        &__inner {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    .catalog {
        &__content {
            justify-content: center;
            .catalog-item {
                margin-right: 9px;
            }
        }
    }
}
@media(max-width: 576px) {
    .header {
        flex-direction: column;
        &__contacts {
            margin-top: 10px;
            text-align: center;
        }
        &__phone {
            margin: 0 auto;
            font-size: 15px;
        }
        &__official {
            display: none;
        }
        .button {
            margin-top: 5px;
        }
    }
    .feed-form {
        width: 260px;
    }
    .consultation {
        &__descr {
            font-size: 15px;
        }
        .title_left {
            font-size: 28px;
        }
    }
    .promo {
        &__wrapper {
            align-items: normal
        }
        &__icons {
            display: none;
        }
        &__icon {
            margin-top: 13px;
        }
        .button_main {
            width: 253px;
            margin: 65px auto;
            margin-bottom: 0;
        }
        &__link {
            margin: 18px auto;
            margin-bottom: 0;
        }
        &__header {
            font-size: 32px;
            text-align: center;
        }
        &__subheader {
            font-size: 20px;
            text-align: center;
        }
    }
    .catalog {
        .catalog-item {
            &__price {
                font-size: 17px;
            }
        }
    }
    .feedback {
        &__item {
            img {
                width: 150px;
                height: 150px;
            }
        }
        &__name {
            text-align: center;
        }
        &__subtitle {
            text-align: center;
        }
        &__descr {
            font-size: 13px;
            text-align: center;
            width: 200px;
        }
    }
}